---
import Navbar from "./Navbar.astro";
---

<section class="bg-[url('/images/mobile/image-hero.jpg')] bg-no-repeat bg-cover flex flex-col h-120
md:bg-[url('/images/desktop/image-hero.jpg')] md:h-150">
    
    <header class="bg-transparent">
        <Navbar />
    </header>

    <div class="mt-18 ml-5 p-4 max-w-[90%] border-2 border-solid border-white text-white
    md:max-w-137.5 md:ml-20 lg:ml-30"> 

        <h1 class="text-4xl font-light 
        md:text-6xl">
            IMMERSIVE EXPERIENCES THAT DELIVER
        </h1>
    </div>
</section>